# Dependency directories
node_modules/
jspm_packages/

# Wrangler local files & builds
.dev.vars
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# WeChat Mini Program local config files
project.private.config.json
